.dropdown {
    min-width: 12rem;

    .dropdown-toggle {
        min-width: 100%;
    }

    .dropdown-menu {
        min-width: 100%;
        background-color: #212529;

        * {
            color: white !important;
        }

        .dropdown-item:hover,
        .dropdown-item:focus {
            background-color: #004182;
        }

        .dropdown-item {
            overflow-x: auto;
        }
    }
}