.main-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: bgWallpaer 60s ease-in-out infinite;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.container-fluid {
    height: 90%;
    width: 80%;
    border-radius: 1rem;

    .table-container {
        height: 100%;
        overflow-y: auto;
    }
}

@keyframes bgWallpaer {
    0% {
        background: url(https://images.hdqwalls.com/download/5-centimeters-per-second-4k-v4-3840x2400.jpg) no-repeat right center fixed;

    }

    30% {
        background: url(https://www.funnyart.club/uploads/posts/2022-01/1642992762_30-www-funnyart-club-p-anime-fon-demon-krasivo-30.png ) no-repeat left center fixed;

    }

    50% {
        background: url(https://img2.akspic.ru/crops/4/0/4/2/7/172404/172404-vashe_imya-miyamizu_mitsuha-taki_tachibana-anime-atmosfera-7680x4320.jpg) no-repeat center right fixed;

    }

    75% {
        background: url(https://f.vividscreen.info/soft/435a640a6b19c333ca19668105980d66/Mikasa-Ackerman-Attack-on-Titan-1-2560x1600.jpg) no-repeat center center fixed;

    }

    100% {
        background: url(https://wallpapercosmos.com/w/full/3/e/8/158909-3840x2160-desktop-4k-walle-background.jpg) no-repeat center center fixed;

    }
}